@use "vars.scss";
body{
    font-size: 14px;
    margin:0;
    padding:0;
}
aside{
    @extend .textStyle;
    display:vars.$display;
    width: vars.$width/5;
    padding-top: 25%;
    display: inline-flex;
    vertical-align: top;
    flex-direction: column;
    color: #0f0f0f;
}
.rightSide{
    display:vars.$display;
    width:(vars.$width/10*8-1);
    flex-direction: row;
}
header{
    display:vars.$display;
    display: flex;
    width:vars.$width;
}
.head{
    width:vars.$width;
}
section{
display:flex;
flex-wrap: wrap;
justify-content: vars.$centers;
}
article{
    width:(vars.$width/10*3-1);
    display:flex;
    display: block !important;
    padding:vars.$padding;
}

.image{
    width:vars.$width;
}

.text{
 @extend .textStyle;
 font-size: 1.4vw !important;
 display: flex;
 flex-wrap: wrap;
}

footer{
    background-color: #1a1b1d;
    color:white;
    display: block !important;
}

.copy{
    @extend .textStyle;
    padding:vars.$padding;
}

.textStyle{
    font-family: vars.$font;
    text-align: vars.$centers;
    font-size: 1.7vw;
    font-weight:700;
}